<nav class="navbar navbar-toggleable-sm navbar-light bg-primary">
    <button class="navbar-toggler navbar-toggler-right"
            type="button"
            data-toggle="collapse"
            data-target="#collapseNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand"
       routerLink="/"
       routerLinkActive="active">
        iix-notes
    </a>

    <div class="collapse navbar-collapse"
         id="collapseNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a href="javascript:void(0)"
                   class="nav-link dropdown-toggle"
                   id="navbarLoginDropdown"
                   data-toggle="dropdown">
                    <b>Login</b>
                </a>

                <div class="dropdown-menu dropdown-menu-right p-2">
                    <form class="form"
                          role="form"
                          method="post"
                          [hidden]="loggedIn">
                        <div class="p-2">
                            <input type="text"
                                   name="username"
                                   class="form-control"
                                   placeholder="User"
                                   [(ngModel)]="user.username"
                                   required>
                        </div>
                        <div class="p-2">
                            <input type="password"
                                   name="password"
                                   class="form-control"
                                   placeholder="Password"
                                   [(ngModel)]="user.password"
                                   required>
                        </div>
                        <div class="p-2">
                            <button (click)="login()"
                                    type="submit"
                                    class="btn btn-primary btn-block">
                                Login
                            </button>
                        </div>
                        <div class="form-group has-danger">
                            <p class="form-control-feedback text-center"
                               [hidden]="!errorMessage"
                               [innerText]="errorMessage"></p>
                        </div>
                    </form>

                    <form class="form" [hidden]="!loggedIn">
                        <p class="text-center"> Logged in as
                            <span class="font-weight-bold"
                                  [innerText]="user.username"></span>
                        </p>
                        <button (click)="logout()"
                                type="button"
                                class="btn btn-danger btn-block">
                            Logout
                        </button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container pt-3">
    <router-outlet></router-outlet>
</div>

<div class="modal fade" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto text-center" id="modalTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-center" id="modalText">Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
